<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2><u>Dear Customer</u></h2>
    <h3>
      A device has been created successfully.
    </h3>
    <p>
      &nbsp;&nbsp;Device Type : <%=@cdevice_info.device_type %><br/>
      &nbsp;&nbsp;Account Email : <%=@user_info.email%><br/><br/>
    </p>
    <h3>
      View the status of your device at any time on the Customer Portal:
      <br>
      URL : <a href="https://my.cyberadvance.com/devices/<%=@cdevice_info.id%>">https://my.cyberadvance.com/devices/<%=@cdevice_info.id%></a><br/>
      <br/>
      <br/>
      If you have received this email in error, or you are concerned about suspicious activity concerning your account, please contact support@cyberadvance.com.<br/>Thank you,
      <br/><br/><br/>
      CyberAdvance Technologies
      <br/><br/>
      <a href="https://www.cyberadvance.com">www.cyberadvance.com</a>
    </h3>

  </body>
</html>
