<% if !notice.blank? %>
  <div class="div-notice">
    <%= notice %>
    <ul class="nav navbar-nav navbar-right" id="ticket_ul" style="margin-right:0px;">
      <li><span>0 Notification</span></li>
      <li><i class="glyphicon glyphicon-remove"></i></li>
    </ul>
  </div>
<% end %>